
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url("https://wallpapercave.com/wp/wp2741879.jpg");
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
   
}

h1 {
    color: aliceblue;
}

.container {
    width: 1000px;
    padding: 100px;
    position: absolute;
    transform: translate(-10%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.dice-wrapper {
    width: 90%; 
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    
}

p {
    font-size: 16 px;
    margin: 30px 0;
    color:aliceblue;
    font-weight: 500;
}

/* Figure out what's going on here with styling and such.  */

.return-buttons {
    display: grid;
    align-items: center;
    
}
button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color:aliceblue;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#7D5DA2;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-image: linear-gradient(to right, #5a52c5 0%, #1a1263 51%, #7a72e2 100%);
}

button:hover{
    background-position: right center;
}


.shake {
    animation: shake 0.5s infinite;  
}

@keyframes shake{
    0% {
        transform: rotate(8deg)
    }
    50% {
        transform: rotate(-8deg)
    }
    100% {
        transform: rotate(8deg)

    }
}