
body {
    background-image: url("https://wallpapercave.com/wp/wp2741879.jpg");
    display: grid;
    
    align-content: center;
    color:aliceblue;
    flex-direction: column;
    justify-content: center;

}

#select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    align-items: center;
    align-content: space-around;
   
}

.horoscope {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    align-content: center;
    text-align: center;
    
}


h1{
    color:aliceblue;
    text-align: center;
}

button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color:aliceblue;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#7D5DA2;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-image: linear-gradient(to right, #5a52c5 0%, #1a1263 51%, #7a72e2 100%);
}

button:hover{
    background-position: right center;
}


